<div class="right_col" role="main">
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div >
              <h2><i class="fa fa-users" aria-hidden="true"></i> Pedido</h2>
            </div>
            <div class="x_content">
              <table class="table">
                <thead>
                  <tr>
                    <th>Codigo</th>
                    <th>Emissao</th>
                    <th>Total</th>
                    <th>Itens</th>
                    <th>
                      <a href="#/pedido/cadastrar" class="btn btn-success btn-xs">
                        <i class="fa fa-plus-circle" aria-hidden="true"></i> Novo pedido
                      </a>
                    </th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="pedido in pedidos">
                    <th scope="row">{{pedido.codigo}}</th>
                    <td>{{pedido.emissao}}</td>
                    <td>{{pedido.total}}</td>
                    <td></td>
                    <td>
                      <a href="#/pedido/{{pedido.codigo}}/editar" class="btn btn-info btn-xs">
                        <i class="fa fa-pencil"></i> Editar
                      </a>
                      <a  class="btn btn-danger btn-xs" ng-click="confirmarExclusao(pedido.codigo, pedido.emissao)">
                        <i class="fa fa-trash-o"></i> Deletar
                      </a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
