  <div class="right_col" role="main">
  <div class="">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>{{titulo}}</h2>
              <div class="clearfix"></div>
              <div class="x_content">
                <br />
                <div class="col-md-12 col-sm-12 col-xs-12">
                  <label class="alert-form">
                    Atenção(*) Campos obrigatórios!
                  </label>
                </div>
                <form id="demo-form2" name="appForm" data-parsley-validate class="form-horizontal form-label-left" ng-submit="submit(produto)" novalidate>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="nome">Codigo <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" id="name" name="codigo" ng-model="produto.codigo" class="form-control col-md-7 col-xs-12" required>
                      <span ng-if="appForm.codigo.$invalid && appForm.codigo.$dirty" class="message-error">Informe o nome do cliente!</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="date_birth">Nome <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" name="nome" ng-model="produto.nome" class="form-control col-md-7 col-xs-12" required>
                      <span ng-if="appForm.nome.$invalid && appForm.nome.$dirty" class="merror">Informe sua data de nascimento!</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="date_birth">Preco <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" name="preco" ng-model="produto.preco" class="form-control col-md-7 col-xs-12" required>
                      <span ng-if="appForm.preco.$invalid && appForm.preco.$dirty" class="merror">Informe sua data de nascimento!</span>
                    </div>
                  </div>
                  <div class="form-group">
                    <label class="control-label col-md-3 col-sm-3 col-xs-12" for="date_birth">Estoque <span class="required">*</span>
                    </label>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                      <input type="text" name="estoque" ng-model="produto.estoque" class="form-control col-md-7 col-xs-12" required>
                      <span ng-if="appForm.estoque.$invalid && appForm.estoque.$dirty" class="merror">Informe sua data de nascimento!</span>
                    </div>
                  </div>
                  <div class="ln_solid"></div>
                  <div class="form-group">
                    <div class="col-md-6 col-sm-6 col-xs-12 col-md-offset-3">
                      <button type="submit" class="btn btn-success" ng-disabled="appForm.$invalid">
                        Enviar
                      </button>
                      <!-- <button class="btn btn-primary">
                        Aguarde...
                        <i class="fa fa-spinner fa-pulse fa-2x"></i>
                      </button> -->
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
